<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
</head>
<body>
    <p>
         <h3> Access Denied. This user is not authorized to access this page. </h3>
    </p>


<br><br>

<hr>

    <a th:href="@{/}">Return to EstesCoding Home Page</a>
    <!-- Add a logout button. Must be done in a form so that it can be submitted via a POST method -->

    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
</body>
</html>