<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                 xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EstesCoding Company Home Page</title>
</head>
<body>
    <h2> EstesCoding Company Home Page</h2>
    <hr>
    <p>
    Welcome to the EstesCoding Company Home Page! Let's Go Devils!!!!!
    </p>

    <hr>

    <p>
        <!-- Uses Spring Security/Thymeleaf to display the currently logged in user -->
        <!-- sec:authentication is Thymeleaf, principal.username is Spring Security -->
        Currently logged in User: <span sec:authentication="principal.username"></span>
        <br><br>
        <!-- Authorities is the same thing as roles -->
        Roles this User has: <span sec:authentication="principal.authorities" />
    </p>


    <!-- Add a link for the /leaders page, should only be displayed for Role - Manager -->
    <div sec:authorize="hasRole('MANAGER')">
        <hr>
        <p>
             <a th:href="@{/leaders}">Leadership Meeting</a> (Restricted to Managers)
         </p>
    </div>

    <!-- Add a link for the /systems page, should only be displayed for Role - Admin -->
    <div sec:authorize="hasRole('ADMIN')">
        <hr>
        <p>
            <a th:href="@{/systems}">Admin Retreat</a> (Restricted to Admins)
        </p>
    </div>

    <hr>
    <!-- Add a logout button. Must be done in a form so that it can be submitted via a POST method -->

    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>


</body>
</html>