<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EstesCoding Login Page</title>

    <style>
        .failed { color: red; }
    </style>
</head>
<body>

<h3>Estes Coding Login</h3>

<form action="#" th:action="@{/authenticateTheUser}" method="post">
    <!-- Spring Security filters will read form data and authenticate the user -->
    <!-- Must use these default names of username and password so Spring can act accordingly -->
    <!-- Error Parameter is automatically appended to our URL by Spring Security -->
    <div th:if="${param.error}">
        <b class="failed"> Invalid Username or Password</b>
    </div>

    <p>
        User Name: <input type="text" name="username" />
    </p>

    <p>
        Password: <input type="password" name="password" />
        <!-- Input type of password will auto mask the characters as they are typed -->
    </p>

    <input type="submit" value="Login" />



</form>



</body>
</html>